# Database
# https://docs.djangoproject.com/en/2.2/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'ergo',
        'USER': 'ergo',
        'PASSWORD': 'ergo',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}


# Address Node (ex: "http://127.0.0.1:9053/")
NODE_ADDRESS = "Address Node"

# Secret Key of Node(apiKey) (ex: "623f4e8e440007f45020afabbf56d8ba43144778757ea88497c794ad529a0433")
API_KEY = "Secret Key of Node"

# Access url for accounting system
ACCOUNTING_URL = "http://127.0.0.1:8000"


ALLOWED_HOSTS = ["127.0.0.1"]
